/*-------------------------RESET--------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;font-family:Arial, sans-serif;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}
/*-------------------------RESET--------------------------*/

/*--------------------------GRID--------------------------*/
.col {float:left;margin:0 0 10px 0;}
.col.w1 {width:10%;}
.col.w2 {width:20%;}
.col.w3 {width:30%;}
.col.w4 {width:40%;}
.col.w5 {width:50%;}
.col.w6 {width:60%;}
.col.w7 {width:70%;}
.col.w8 {width:80%;}
.col.w9 {width:90%;}
.col.w10 {width:100%;}
.col.w1 .content,
.col.w1 .content,
.col.w2 .content,
.col.w3 .content,
.col.w4 .content,
.col.w5 .content,
.col.w6 .content,
.col.w7 .content,
.col.w8 .content,
.col.w9 .content {padding:0 10px 0 0;}
.col.w10 .content {padding:0 0px 0 0;}
.col.w1.last .content,
.col.w1.last .content,
.col.w2.last .content,
.col.w3.last .content,
.col.w4.last .content,
.col.w5.last .content,
.col.w6.last .content,
.col.w7.last .content,
.col.w8.last .content,
.col.w9.last .content {padding:0 0px 0 0;}
.col.bottomlast {margin:0px;}
.demobg .col .content p {background:#f0f0f0;}
/*--------------------------GRID--------------------------*/